<script src= "/scripts/ok.js"></script>
<link rel="stylesheet" href="/styles/styles.css">
<div class="container">
    <h1>Dashboard </h1>
    <div class="row buttonAlign">
      <div class="col">
        <div class="row">
            <div class="col">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="col">
              <h2>Students</h2>
            </div>
        </div>
        <div class="row rowSpace">
          <div class="col-4">
            <button  class="btn btn-primary" type="button" name="button" id='show_all_students'>Show All Student</button>
          </div>
          <div class="col-4">
            <button class=" btn btn-secondary" type="button" name="button" id=''>Search</button>
          </div>
          <div class="col-4">
            <button class="btn btn-success" type="button" name="button" id=''>Create</button>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="row">
            <div class="col">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="col">
              <h2>Classes</h2>
            </div>
        </div>
            <div class="row rowSpace">
              <div class="col-4">
                <button class="btn btn-primary" type="button" name="button" id='show_all_classes'>Show All Classes</button>
              </div>
              <div class="col-4">
                <button class="btn btn-secondary" type="button" name="button" id=''>Search</button>
              </div>
              <div class="col-4">
                <button class="mb-5 btn btn-success" type="button" name="button" id=''>Create</button>
              </div>
          </div>
        </div>
      </div>
  </div>

  <div class='students'>
      <form action=""id="student_form" class="form-inline" method="POST">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"  name="FirstName" placeholder="First Name">
          <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group"></div>
              <input type="text" class="form-control" id="inlineFormInputGroup" name="LastName" placeholder="Last Name">
          </div>
          <button id="new_student" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <ul class="formPadding">
          <% students.forEach(function(val){ %>
          <li id='<%=val._id %>'><%= val.FirstName%> <%= val.LastName%>
            <div class="">
            <button type="button" name="button" class="btn btn-primary">Edit</button>
            <button type="button" name="button" class="btn btn-primary show"  data-type='/api/enrollments/students/<%= val._id %>'> Classes</button>
            <button class="btn btn-primary delete" type="button" name="button" data-id='<%= val._id %>' data-type='/api/students/' >Delete</button>
          </div>
          </li>
          <% }); %>
      </ul>
  </div>

  <div class='classes'>
    <form action=""id="course_form" class="form-inline" method="POST">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"  name="Name" placeholder="course name">
      <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group"></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" name="Description" placeholder="description">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group"></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" name="Category" placeholder="category">
      </div>
      <button id="new_student" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <ul >
      <% courses.forEach(function(val){ %>
      <li id='<%=val._id %>'><%= val.Name%> <%= val.Description%>
        <div>
        <button type="button" name="button" class="btn btn-primary">Edit</button>
        <button class="btn btn-primary delete" type="button" name="button" data-id='<%= val._id %>' data-type='/api/students/' >Delete</button>
        </div
      </li>
      <% }); %>
    </ul>


</div>
