
<div class="container">
  <div class="padding">
    <h1>Class Name</h1>
    <h2>Class Category</h2>
  </div>

  <div class="row padding">
    <% enrollments.forEach(function(val){ %>
      <% val = val._student%>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"id='<%=val._id %>'><%= val.FirstName%> <%= val.LastName%></h5>
            <p class="card-text"><%= val.email%></p>
            <p class="card-text"><%= val.role%> </p>

            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
        <% }); %>
  </div>


  <div class=" padding">
    <a href="/students" class="btn btn-primary"> Dashboard</a>
  </div>

</div>
